<a href="https://colab.research.google.com/github/VitikaJain25/Eduxlabs-AI-ML/blob/main/eict_python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loops -**
* for loop
* while loop

In [7]:
for i in range (0,5):
  print(i, 'Hello World!')

0 Hello World!
1 Hello World!
2 Hello World!
3 Hello World!
4 Hello World!

In [12]:
for i in range (0,10):
  # print('2 *',i ,'=' , 2 * i)
  print(f'2 * {i} =', 2 * i)

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [17]:
cities = ('Delhi', 'Mumbai', 'Paris', 'Berlin', 'Tokyo')

# While creating a loop if it is a list, tupple, dictionary
# for city in cities:
#  print(city, len(city))

#OR

for i in range(0,5):
  print(cities[i], len(cities[i]))
  # print(cities[i], len(cities[i]), end = ' ') # If we do not want new line(line break)

Delhi 5
Mumbai 6
Paris 5
Berlin 6
Tokyo 5

**Break**

In [19]:
# The loops breaks in between when the condition satisfies.
for i in range(0,10):
  print(i)
  if i == 6:
    break

0
1
2
3
4
5
6

In [22]:
for city in cities:
  print(city, len(city))
  if city == 'Paris':
    break

Delhi 5
Mumbai 6
Paris 5

**Continue**

In [24]:
for i in range(1,11):
  if i == 7:
    continue
  print(f'2 * {i} =', 2 * i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [25]:
for city in cities:
  if city == 'Paris':
    continue
  print(city, len(city))

Delhi 5
Mumbai 6
Berlin 6
Tokyo 5

**While Loop**

In [28]:
if True:
  print('Hello World!')

Hello World!

In [30]:
i=0
while i<10:
  print(i, 'Hello World!')
  i = i+1

0 Hello World!
1 Hello World!
2 Hello World!
3 Hello World!
4 Hello World!
5 Hello World!
6 Hello World!
7 Hello World!
8 Hello World!
9 Hello World!

In [32]:
i=0
while i<10:
  if i == 6:
    break
  print(i, 'Hello World!')
  i = i+1

0 Hello World!
1 Hello World!
2 Hello World!
3 Hello World!
4 Hello World!
5 Hello World!

In [34]:
i=0
while i<10:
  i = i+1
  if i == 6:
    continue
  print(i, 'Hello World!')

1 Hello World!
2 Hello World!
3 Hello World!
4 Hello World!
5 Hello World!
7 Hello World!
8 Hello World!
9 Hello World!
10 Hello World!

In [37]:
uname = input('Enter User Name')
if uname != 'abcde':
  print('Not registered User')
else:
  upass = input('Enter Password')
  if upass != '12345':
    print('Wrong Passwod')
  else:
    print('Login Successfull')

Enter User Namergwe
Not registered User

In [42]:
#When we want the system to ask again if user enters wrong username or password.

uname = input('Enter User Name : ')
while uname != 'abcde':
  print('Not registered User. Try again..')
  uname = input('Enter User Name : ')
else:
  upass = input('Enter Password : ')
  while upass != '12345':
    print('Wrong Passwod. Try again..')
    upass = input('Enter Password : ')
  else:
    print('Login Successful')

Enter User Name : ewgweg
Not registered User. Try again..
Enter User Name : aewfef
Not registered User. Try again..
Enter User Name : abcde
Enter Password : ewege
Wrong Passwod. Try again..
Enter Password : rgwerag
Wrong Passwod. Try again..
Enter Password : 12345
Login Successful

In [52]:
#When we want to restrict till 3 tries.

i = 0
uname = input('Enter User Name : ')
while uname != 'abcde':
  print('Not registered User. Try again..')
  uname = input('Enter User Name : ')
  i += 1
  if i == 2:
    print('All attempt exhausted to enter username')
    break
else:
  k = 0
  upass = input('Enter Password : ')
  while upass != '12345':
    print('Wrong Passwod. Try again..')
    upass = input('Enter Password : ')
    k += 1
    if k == 2:
      print('All attempt exhausted to enter password')
      break
  else:
    print('Login Successful')

Enter User Name : abcde
Enter Password : wegef
Wrong Passwod. Try again..
Enter Password : aefef
Wrong Passwod. Try again..
Enter Password : 12345
All attempt exhausted to enter password

**Functions**

In [53]:
def myfunct():
  print('Hi, How are you?')

In [54]:
myfunct()
myfunct()

Hi, How are you?
Hi, How are you?

In [55]:
def add_five(x):
  print(x+5)

In [57]:
add_five(10)
add_five(7)

15
12

In [59]:
# Create a function to add two number

def add_numbers(x,y):
  print(x+y)

add_numbers(4,7)
add_numbers(10,40)

11
50

In [60]:
# Create a function to check if a number is even or odd.

def even_or_odd(number):
  if number % 2 == 0:
    print(number, "is even")
  else:
    print(number, "is odd")


even_or_odd(3)
even_or_odd(6)

3 is odd
6 is even

In [66]:
# Create a function to generate multiplication table of any number given as parameter.

def multiplication_table(x):
  for i in range (1,11):
    #print(x , "*" , i , "=", x * i)
    print(f'{x} * {i} =', x * i)

multiplication_table(5)
multiplication_table(7)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [61]:
# Create a function to return square value of a number

def square_numbers(x):
  print(x*x)

square_numbers(4)
square_numbers(10)

16
100

In [67]:
def add_numbers(x,y):
  print(x+y)

add_numbers(3,9)

12

In [68]:
print (12*2)

24

In [71]:
# Giving error as the function is just printing the value and not returning any value.
add_numbers(3,9) *2

12

TypeError: ignored

In [72]:
# Now when we return the value, we can use the value.
# To create
def add_numbers(x,y):
  return(x+y)

add_numbers(3,9) *2

24

In [76]:
# Retune value, not just print
# Create a function to generate multiplication table of any number given as parameter.
# we can return only 1 vlaue not 10 different values.
# So, we have to convert 10 values to 1 value.
# assign a variable and create a list.

complte_list = []
def multiplication_table(x):
  for i in range (1,11):
    output = (f'{x} * {i} =', x * i)
    complte_list.append(output)
  return complte_list

multiplication_table(11)

[('11 * 1 =', 11),
 ('11 * 2 =', 22),
 ('11 * 3 =', 33),
 ('11 * 4 =', 44),
 ('11 * 5 =', 55),
 ('11 * 6 =', 66),
 ('11 * 7 =', 77),
 ('11 * 8 =', 88),
 ('11 * 9 =', 99),
 ('11 * 10 =', 110)]

In [94]:
values = [5,9,3,2,6,7,8,7,1]
# Create a function to return list of odd or even numbers by checking each number in the list

def even_or_odd_number(values):
  odd_even_list = []
  for x in values:
    if x % 2 == 0:
      odd_even_list.append([x, ' - Even'])
    else:
      odd_even_list.append([x, ' - Odd'])
  return odd_even_list

even_or_odd_number(values)

[[5, ' - Odd'],
 [9, ' - Odd'],
 [3, ' - Odd'],
 [2, ' - Even'],
 [6, ' - Even'],
 [7, ' - Odd'],
 [8, ' - Even'],
 [7, ' - Odd'],
 [1, ' - Odd']]

In [95]:
values = [544,934,324,224,65,711,28,447,144]
even_or_odd_number(values)

[[544, ' - Even'],
 [934, ' - Even'],
 [324, ' - Even'],
 [224, ' - Even'],
 [65, ' - Odd'],
 [711, ' - Odd'],
 [28, ' - Even'],
 [447, ' - Odd'],
 [144, ' - Even']]

In [101]:
# Seperate even and odd in different list.

def even_or_odd_number(values):
  odd_numbers = []
  even_numbers = []

  for x in values:
    if x % 2 == 0:
      even_numbers.append(x)
    else:
      odd_numbers.append(x)
  return{'Odd Numbers' : odd_numbers, 'Even Numbers' : even_numbers}

print(even_or_odd_number([5,9,3,2,6,7,8,7,1]))
print(even_or_odd_number([544,934,324,224,65,711,28,447,144]))

{'Odd Numbers': [5, 9, 3, 7, 7, 1], 'Even Numbers': [2, 6, 8]}
{'Odd Numbers': [65, 711, 447], 'Even Numbers': [544, 934, 324, 224, 28, 144]}

**Lambda Functions**

In [102]:
def add_two_number(x,y):
  return (x+y)

add_two_number(3,9)

12

In [103]:
add_two_numbers = lambda x,y : x+y

print(add_two_numbers(4,2))
print(add_two_numbers(7,5))
print(add_two_numbers(4,7))

6
12
11

In [109]:
# Create a lambda function to return square root of a number.

squareroot_number = lambda x : x** 0.5

print(squareroot_number(4))
print(squareroot_number(25))
print(squareroot_number(625))

2.0
5.0
25.0

In [110]:
# Create a lambda function to return cube of a number.

cube_number = lambda x : x*x*x

print(cube_number(4))
print(cube_number(5))
print(cube_number(7))

64
125
343

In [111]:
# Create a lambda function to add 10 to the parameter passed.

add10_number = lambda x : x+10

print(add10_number(4))
print(add10_number(5))
print(add10_number(7))

14
15
17

In [112]:
# Create a lambda function to check a number as even or odd.

even_odd_number = lambda x : x % 2

print(even_odd_number(4))

0

In [ ]:
# Create a lambda function to check a collection of number as even or odd.