<a href="https://colab.research.google.com/github/VitikaJain25/Eduxlabs-AI-ML/blob/main/v_eict_ml_project_percentile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

n1 = np.array([15,12,18,16,19])
print(np.mean(n1))
print(np.median(n1))

16.0
16.0

In [4]:
n2 = np.array([1,15,12,18,17,19,80])
print(np.mean(n2))
print(np.median(n2))

23.142857142857142
17.0

**Percentiles & Quartiles**

**Percentile** = A value below which a certain percentage of information exist.
* In a exam "ABC" got 95 percentile marks
* "ABC" got better marks than 95% of entire students.

In [ ]:
# Percentage
n3 = np.array([1,2,3,4,5])

# %age of numbers that are even = 2/5 = 0.4 => 40%

In [5]:
dataset = [2,2,3,4,5,5,5,6,7,8,8,8,8,8,9,9,10,11,11,12]

**What is the percentile ranking of 10**

* n = total number of samples = 20
* percentile ranking of 10 = (number of values below 10 / n) * 100 => (16/20) * 100 = 80 percentile

**What value exists at a percentile rank of 25?**
* value = (percentile / 100) * (n+1) => (25/100) * 21 = 5.25 => index value
* Value at index 5 = 5
* Value at index 6 = 5
* Average value of 5th and 6th index = 5
* Answer = 5

**Quartiles**
* 1st Quartile = Q1 = 25 Percentile
* 2nd Quartile = Q2 = Median = 50 Percentile
* 3rd Quartile = Q3 = 75 Percentile
* IQR = Inter Quartile Range = Q3 - Q1

**Five point summary and Box Plot**
* Minimum
* First Quartile (25 percentile), Q1
* Median, Q2
* Third Quartile (75 percentile), Q3
* Maximum

In [15]:
data = np.array([1,2,2,2,3,3,4,5,5,5,6,6,6,6,7,8,8,9,27])

* 25 percentile value = 25/100 * (19+1) = 5 => Q1 index
* 75 percentile value = (75/100) * (19+1) = 15 => Q3 index

In [16]:
q1_value = data[5]
q3_value = data[15]

print(q1_value, q3_value)

3 8

In [22]:
np.median(data)

5.0

In [17]:
iqr = q3_value - q1_value
print(iqr)

5

In [18]:
# Lower fence and higher fence

lf = q1_value - 1.5 * iqr
hf = q3_value + 1.5 * iqr

print(lf, hf)

-4.5 15.5

In [19]:
data[(data < lf) | (data > hf)]

array([27])

In [21]:
data[(data > lf) & (data < hf)]

array([1, 2, 2, 2, 3, 3, 4, 5, 5, 5, 6, 6, 6, 6, 7, 8, 8, 9])