<a href="https://colab.research.google.com/github/VitikaJain25/Eduxlabs-AI-ML/blob/main/eict_python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   Python Basics
*   Data Science Concept - data cleaning, preprocessing, feature engineering , data filtering , statistical analysis
*   Machine learning concept - plan and make predictive models
*   ML model deployment

**Python Basics**
* Variables and values
* Data Types
* Operators
* Logical programming - If/Else
* Loops
* Functions
* File Handling & Exception Handling

In [1]:
print("Hello World")

Hello World

In [2]:
age = 5
name = 'John'
email = 'john@gmail.com'
salary = 555000.55

In [3]:
print(name)
print(age)

print('Name of employee is', name , '.and age of employee is' , age)

John
5
Name of employee is John .and age of employee is 5

In [4]:
print(f'Name of employee is {name}.and age of employee is {age}.')

Name of employee is John.and age of employee is 5.

* **Data Types**

In [5]:
print(type(age))
print(type(name))
print(type(email))
print(type(salary))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

**Data Types**
* Integer
* String
* Float
* List
* Tuple
* Dictionary
* Set

**List**

In [7]:
emps = ['John', 'James', 'Tom', 'Jerry', 'Mickey', 'bob']
print(emps)

['John', 'James', 'Tom', 'Jerry', 'Mickey', 'bob']

In [8]:
print(emps[0])
print(emps[4])

John
Mickey

In [9]:
print(len(emps))
print(type(emps))

6
<class 'list'>

In [10]:
#Make Changes in list values
print(emps)
emps[3] = "Anand"
print(emps)

['John', 'James', 'Tom', 'Jerry', 'Mickey', 'bob']
['John', 'James', 'Tom', 'Anand', 'Mickey', 'bob']

In [11]:
#Functions of list - append() - to add a new info at the end
print(emps)
emps.append('Aman')
print(emps)

['John', 'James', 'Tom', 'Anand', 'Mickey', 'bob']
['John', 'James', 'Tom', 'Anand', 'Mickey', 'bob', 'Aman']

In [12]:
#Functions of list - insert() - to add a new info at a defined index
print(emps)
emps.insert(3, 'Atul')
print(emps)

['John', 'James', 'Tom', 'Anand', 'Mickey', 'bob', 'Aman']
['John', 'James', 'Tom', 'Atul', 'Anand', 'Mickey', 'bob', 'Aman']

In [13]:
#Functions of list - remove() - to remove a value from a list
print(emps)
emps.remove("Mickey")
print(emps)

['John', 'James', 'Tom', 'Atul', 'Anand', 'Mickey', 'bob', 'Aman']
['John', 'James', 'Tom', 'Atul', 'Anand', 'bob', 'Aman']

In [14]:
#Functions of list - pop() - to remove a value from a list using index of the value
print (emps)
emps.pop(2)
print(emps)

['John', 'James', 'Tom', 'Atul', 'Anand', 'bob', 'Aman']
['John', 'James', 'Atul', 'Anand', 'bob', 'Aman']

**Tuple** **- Immutable - We can't make changes to it.**

In [15]:
cities = ('Delhi', 'Mumbai', 'Paris', 'Berlin', 'Tokyo')
print(cities)
print(type(cities))
print(len(cities))

('Delhi', 'Mumbai', 'Paris', 'Berlin', 'Tokyo')
<class 'tuple'>
5

In [16]:
print (cities[2])

Paris

In [17]:
# We cannot change as it is immutable
cities[2] = 'Bangalore'

TypeError: ignored

**Dictionary - Stores the values as key-value pair**

In [18]:
employee = {'name' : 'Bipul', 'email' : 'bipul@gmail.com', 'age' : '32'}
print(employee)
print(type(employee))

{'name': 'Bipul', 'email': 'bipul@gmail.com', 'age': '32'}
<class 'dict'>

In [19]:
print(employee.keys())
print(employee.values())

dict_keys(['name', 'email', 'age'])
dict_values(['Bipul', 'bipul@gmail.com', '32'])

In [20]:
print(employee['email'])
print(employee['age'])

bipul@gmail.com
32

In [21]:
#Adding new entity into the dictionary
print(employee)
employee['salary'] = '$43424'
print(employee)

{'name': 'Bipul', 'email': 'bipul@gmail.com', 'age': '32'}
{'name': 'Bipul', 'email': 'bipul@gmail.com', 'age': '32', 'salary': '$43424'}

In [22]:
#Delete a value from the dictionary
print(employee)
del(employee['age'])
print(employee)

{'name': 'Bipul', 'email': 'bipul@gmail.com', 'age': '32', 'salary': '$43424'}
{'name': 'Bipul', 'email': 'bipul@gmail.com', 'salary': '$43424'}

**Set - Unordered type of data collection, only uniques values**

List and Tuple can have duplicate values.

In [23]:
cities_set = {'Delhi', 'Mumbai', 'Paris', 'Berlin', 'Tokyo', 'Mumbai', 'Delhi'}
print(cities_set)

{'Berlin', 'Tokyo', 'Paris', 'Delhi', 'Mumbai'}

In [24]:
#Add a new value into set
cities_set.add('Ahemdabad')
print(cities_set)

{'Ahemdabad', 'Berlin', 'Tokyo', 'Paris', 'Delhi', 'Mumbai'}

In [25]:
cities_set.remove('Tokyo')
print(cities_set)

{'Ahemdabad', 'Berlin', 'Paris', 'Delhi', 'Mumbai'}